[submodule "Engine.App"]
	path = Modules/Engine.App
	url = https://github.com/EggyStudio/Engine.App
	branch = main
[submodule "Engine.App.ImGui"]
	path = Modules/Engine.App.ImGui
	url = https://github.com/EggyStudio/Engine.App.ImGui
	branch = main
[submodule "Modules/Engine.Common"]
	path = Modules/Engine.Common
	url = https://github.com/EggyStudio/Engine.Common.git
	branch = main
[submodule "Engine.Entities"]
	path = Modules/Engine.Entities
	url = https://github.com/EggyStudio/Engine.Entities
	branch = main
[submodule "Engine.Entities.Behaviors"]
	path = Modules/Engine.Entities.Behaviors
	url = https://github.com/EggyStudio/Engine.Entities.Behaviors
	branch = main
[submodule "Engine.Assets"]
	path = Modules/Engine.Assets
	url = https://github.com/EggyStudio/Engine.Assets
	branch = main
[submodule "Engine.Graphics"]
	path = Modules/Engine.Graphics
	url = https://github.com/EggyStudio/Engine.Graphics
	branch = main
[submodule "Engine.Renderer"]
	path = Modules/Engine.Renderer
	url = https://github.com/EggyStudio/Engine.Renderer
	branch = main
[submodule "Engine.Components"]
	path = Modules/Engine.Components
	url = https://github.com/EggyStudio/Engine.Components
	branch = main
[submodule "Engine.Renderer.Extracts"]
	path = Modules/Engine.Renderer.Extracts
	url = https://github.com/EggyStudio/Engine.Renderer.Extracts
	branch = main
[submodule "Engine.Renderer.Graph"]
	path = Modules/Engine.Renderer.Graph
	url = https://github.com/EggyStudio/Engine.Renderer.Graph
	branch = main
[submodule "Engine.Renderer.Phases"]
	path = Modules/Engine.Renderer.Phases
	url = https://github.com/EggyStudio/Engine.Renderer.Phases
	branch = main
[submodule "Engine.Pipelines"]
	path = Modules/Engine.Pipelines
	url = https://github.com/EggyStudio/Engine.Pipelines
	branch = main
[submodule "Engine.Pipelines.ImGui"]
	path = Modules/Engine.Pipelines.ImGui
	url = https://github.com/EggyStudio/Engine.Pipelines.ImGui
	branch = main
[submodule "Engine.WebView"]
	path = Modules/Engine.WebView
	url = https://github.com/EggyStudio/Engine.WebView
	branch = main
[submodule "Engine.WebView.Vulkan"]
	path = Modules/Engine.WebView.Vulkan
	url = https://github.com/EggyStudio/Engine.WebView.Vulkan
	branch = main
[submodule "Engine.Editor"]
	path = Modules/Engine.Editor
	url = https://github.com/EggyStudio/Engine.Editor
	branch = main
[submodule "Modules/Engine.Scenes"]
	path = Modules/Engine.Scenes
	url = https://github.com/EggyStudio/Engine.Scenes.git
	branch = main
[submodule "Modules/Engine.Scenes.Usd"]
	path = Modules/Engine.Scenes.Usd
	url = https://github.com/EggyStudio/Engine.Scenes.Usd.git
	branch = main
[submodule "Modules/Engine.Physics"]
	path = Modules/Engine.Physics
	url = https://github.com/EggyStudio/Engine.Physics.git
	branch = main
[submodule "Modules/Engine.Physics.Bepu"]
	path = Modules/Engine.Physics.Bepu
	url = https://github.com/EggyStudio/Engine.Physics.Bepu.git
	branch = main
[submodule "Modules/Engine.Materials"]
	path = Modules/Engine.Materials
	url = https://github.com/EggyStudio/Engine.Materials.git
	branch = main
[submodule "Modules/Engine.Materials.X"]
	path = Modules/Engine.Materials.X
	url = https://github.com/EggyStudio/Engine.Materials.X.git
	branch = main
[submodule "Modules/Engine.Graphics.Shaders"]
	path = Modules/Engine.Graphics.Shaders
	url = https://github.com/EggyStudio/Engine.Graphics.Shaders.git
	branch = main
[submodule "Modules/Engine.Networking"]
	path = Modules/Engine.Networking
	url = https://github.com/EggyStudio/Engine.Networking.git
	branch = main
[submodule "Modules/Engine.Multiplayer"]
	path = Modules/Engine.Multiplayer
	url = https://github.com/EggyStudio/Engine.Multiplayer.git
	branch = main
[submodule "Modules/Engine.Sound"]
	path = Modules/Engine.Sound
	url = https://github.com/EggyStudio/Engine.Sound.git
	branch = main
[submodule "Modules/Engine.Sound.SoLoud"]
	path = Modules/Engine.Sound.SoLoud
	url = https://github.com/EggyStudio/Engine.Sound.SoLoud.git
	branch = main
[submodule "Modules/Engine.Sound.SteamAudio"]
	path = Modules/Engine.Sound.SteamAudio
	url = https://github.com/EggyStudio/Engine.Sound.SteamAudio.git
	branch = main
[submodule "Modules/Engine.Models.Assimp"]
	path = Modules/Engine.Models.Assimp
	url = https://github.com/EggyStudio/Engine.Models.Assimp.git
	branch = main
[submodule "Modules/Engine.Models.Gltf"]
	path = Modules/Engine.Models.Gltf
	url = https://github.com/EggyStudio/Engine.Models.Gltf.git
	branch = main
[submodule "Modules/Engine.Models"]
	path = Modules/Engine.Models
	url = https://github.com/EggyStudio/Engine.Models.git
	branch = main
[submodule "Modules/Engine.Textures"]
	path = Modules/Engine.Textures
	url = https://github.com/EggyStudio/Engine.Textures.git
	branch = main
