[submodule "Engine.App"]
	path = Modules/Engine.App
	url = https://github.com/EggyStudio/Engine.App
	branch = main
[submodule "Engine.App.ImGui"]
	path = Modules/Engine.App.ImGui
	url = https://github.com/EggyStudio/Engine.App.ImGui
	branch = main
[submodule "Modules/Engine.Common"]
	path = Modules/Engine.Common
	url = https://github.com/EggyStudio/Engine.Common.git
	branch = main
[submodule "Engine.Entities"]
	path = Modules/Engine.Entities
	url = https://github.com/EggyStudio/Engine.Entities
	branch = main
[submodule "Engine.Entities.Behaviors"]
	path = Modules/Engine.Entities.Behaviors
	url = https://github.com/EggyStudio/Engine.Entities.Behaviors
	branch = main
[submodule "Engine.Assets"]
	path = Modules/Engine.Assets
	url = https://github.com/EggyStudio/Engine.Assets
	branch = main
[submodule "Engine.Graphics"]
	path = Modules/Engine.Graphics
	url = https://github.com/EggyStudio/Engine.Graphics
	branch = main
[submodule "3DEngine.Renderer"]
	path = Modules/3DEngine.Renderer
	url = https://github.com/EggyStudio/3DEngine.Renderer
	branch = main
[submodule "Engine.Components"]
	path = Modules/Engine.Components
	url = https://github.com/EggyStudio/Engine.Components
	branch = main
[submodule "3DEngine.Renderer.Extracts"]
	path = Modules/3DEngine.Renderer.Extracts
	url = https://github.com/EggyStudio/3DEngine.Renderer.Extracts
	branch = main
[submodule "3DEngine.Renderer.Graph"]
	path = Modules/3DEngine.Renderer.Graph
	url = https://github.com/EggyStudio/3DEngine.Renderer.Graph
	branch = main
[submodule "3DEngine.Renderer.Phases"]
	path = Modules/3DEngine.Renderer.Phases
	url = https://github.com/EggyStudio/3DEngine.Renderer.Phases
	branch = main
[submodule "3DEngine.Pipelines"]
	path = Modules/3DEngine.Pipelines
	url = https://github.com/EggyStudio/3DEngine.Pipelines
	branch = main
[submodule "3DEngine.Pipelines.ImGui"]
	path = Modules/3DEngine.Pipelines.ImGui
	url = https://github.com/EggyStudio/3DEngine.Pipelines.ImGui
	branch = main
[submodule "3DEngine.WebView"]
	path = Modules/3DEngine.WebView
	url = https://github.com/EggyStudio/3DEngine.WebView
	branch = main
[submodule "3DEngine.WebView.Vulkan"]
	path = Modules/3DEngine.WebView.Vulkan
	url = https://github.com/EggyStudio/3DEngine.WebView.Vulkan
	branch = main
[submodule "Engine.Editor"]
	path = Modules/Engine.Editor
	url = https://github.com/EggyStudio/Engine.Editor
	branch = main
[submodule "Modules/3DEngine.Scenes"]
	path = Modules/3DEngine.Scenes
	url = https://github.com/EggyStudio/3DEngine.Scenes.git
	branch = main
[submodule "Modules/3DEngine.Scenes.Usd"]
	path = Modules/3DEngine.Scenes.Usd
	url = https://github.com/EggyStudio/3DEngine.Scenes.Usd.git
	branch = main
[submodule "Modules/3DEngine.Physics"]
	path = Modules/3DEngine.Physics
	url = https://github.com/EggyStudio/3DEngine.Physics.git
	branch = main
[submodule "Modules/3DEngine.Physics.Bepu"]
	path = Modules/3DEngine.Physics.Bepu
	url = https://github.com/EggyStudio/3DEngine.Physics.Bepu.git
	branch = main
[submodule "Modules/Engine.Materials"]
	path = Modules/Engine.Materials
	url = https://github.com/EggyStudio/Engine.Materials.git
	branch = main
[submodule "Modules/Engine.Materials.X"]
	path = Modules/Engine.Materials.X
	url = https://github.com/EggyStudio/Engine.Materials.X.git
	branch = main
[submodule "Modules/Engine.Graphics.Shaders"]
	path = Modules/Engine.Graphics.Shaders
	url = https://github.com/EggyStudio/Engine.Graphics.Shaders.git
	branch = main
[submodule "Modules/3DEngine.Networking"]
	path = Modules/3DEngine.Networking
	url = https://github.com/EggyStudio/3DEngine.Networking.git
	branch = main
[submodule "Modules/Engine.Multiplayer"]
	path = Modules/Engine.Multiplayer
	url = https://github.com/EggyStudio/Engine.Multiplayer.git
	branch = main
